* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.subheader {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
  /* убрали точки */
  text-transform: uppercase;
}

nav ul a {
  text-decoration: none;
  color: #222222;
  font-weight: 900;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  gap: 40px;
  padding: 140px 0;
}

#about h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
}

#about h2 span {
  color: #005fa3;
  display: block;
}

.achievements {
  display: grid;
  grid-template-columns: repeat(2, 255px);
  grid-template-rows: repeat(2, 255px);
  gap: 30px;
  padding: 140px 0;
}

.item {
  background-color: #ebebeb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achievements :hover {
  background-color: #005fa3;
  color: white;
}

#about .item a {
  color: #005fa3;
}

#about .item:hover a {
  color: white;
}

.value {
  font-weight: 900;
  font-size: 55px;
}
.service_container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: 360px;
  gap: 30px;
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.service_container div {
  background-image: url(../media/service_bacekgraund.png);
  display: flex;
  align-items: end;
  padding: 45px;
  position: relative;
}

.service_container div:hover::before {
  content: "";
  background-color: rgba(0, 95, 163, 0.65);
  height: 360px;
  width: 350px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#services {
  background-color: #ebebeb;
  padding: 140px 0;
}

#services h2 {
  margin-bottom: 102px;
}

.info p:last-child {
  font-size: 18px;
  font-weight: 300;
  margin-top: 60px;
  max-width: 455px;
}
